/* reset CSS */

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* reset CSS */

body {
    background-color: white;
    margin: 0 auto;
    max-width: 1020px;
}

.clearfix {
    content: '';
    clear: both;
}

/* HEADER */

header {
    position: relative;
    background-color: #323232;
    text-align: center;
    width: 100%;
    height: 63px;
    line-height: 65px;

}

header h1 {
    display: none;
}

.triangle {
    position: absolute;
    left: 50%;
    z-index: -1;
    width: 180px;
}

.triangle:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    left: -50%;
    top: 37.5px;
    width: 0;
    border-top: 51.96px solid #323232;
}

.nav ul {
    margin: 0;
}

.nav ul li {
    z-index: 1000;
    margin: 0 71px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    color: #414552;
}

.nav ul li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 7.21379pt;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    padding: 0 0 0 0px;
}

.nav ul li:nth-child(1) a {
    padding: 0 0px 0 20px;
}

.nav ul li:nth-child(2) {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-51.6%, 0);
    z-index: 10;
}

.nav ul li:nth-child(3) a:first-child {
    padding: 0;
}

.nav ul li:nth-child(3) a:nth-child(2) {
    padding: 0 20px;
}

.nav ul li a:hover {
    color: #2eb398;
    cursor: pointer;
}

.square {
    z-index: -2;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 140px;
    height: 20px;
    background: white;
}

hr {
    position: absolute;
    top: 66px;
    left: 50%;
    width: 95%;
    transform: translate(-50%, 0);
    z-index: -4;
    border: 0.5px solid lightgrey;
}

/* MAIN */

.main {
    position: relative;
}

.hexagons,
.hexagons_mobile {
    margin-top: 140px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 77px;
}

.hexagons_mobile {
    display: none;
}

.hexagon:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.hexagon {
    width: 180px;
    height: 207px;
    position: relative;
    display: inline-block;
    margin: 8px;
    -webkit-mask: url(images/template.svg) no-repeat 50% 50%;
    mask: url(images/template.svg) no-repeat 50% 50%;
    background-size: cover;
    background-position: center;
}

.row {
    position: relative;
    text-align: center;
    margin-top: -58px;
}

.row:nth-child(odd):before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12.5px;
    transform: translate(0, -50%);
    display: inline-block;
    border-left: 1px solid #e4e9eb;
    height: 104px;
}

.row:nth-child(odd):after {
    content: "";
    position: absolute;
    top: 50%;
    right: -13.5px;
    transform: translate(0, -50%);
    display: inline-block;
    border-right: 1px solid #e4e9eb;
    height: 104px;
}

#hexagon1 {
    background-image: url('images/1pic.jpg');
    background-position-y: -12px;
    background-position-x: -23px;
}

#hexagon2 {
    background-image: url('images/2pic.jpg');
    background-position-y: -9px;
}

#hexagon3 {
    background-image: url('images/3pic.jpg');
    background-position-y: -6.8px;
    background-position-x: -20px;
}

#hexagon4 {
    background-image: url('images/4pic.jpg');
    background-position-y: -18px;
    background-position-x: -20px;
}

#hexagon5 {
    background-image: url('images/5pic.jpg');
    background-position-y: -12px;
}

#hexagon6 {
    background-image: url('images/6pic.jpg');
    background-position-y: -13.5px;
    background-position-x: -21px;
}

#hexagon7 {
    background-image: url('images/7pic.jpg');
    background-position-y: -7.5px;
    background-position-x: -19.5px;
}

#hexagon8 {
    background-image: url('images/8pic.jpg');
    background-position-x: -20px;
}

#hexagon9 {
    background-image: url('images/9pic.jpg');
    background-position-y: -12px;
}

#hexagon10 {
    background-image: url('images/10pic.jpg');
    background-position-y: -7px;
    background-position-x: -20px;
}

#hexagon11 {
    background-image: url('images/11pic.jpg');
    background-position-y: -7px;
    background-position-x: -20px;
}

#hexagon12 {
    background-image: url('images/12pic.jpg');
    background-position-x: -19px;
    background-position-y: -5.5px;
}

#hexagon13 {
    background-image: url('images/13pic.jpg');
    background-position-x: -10px;
    background-position-y: -7px;
}


.hexagons>hr {
    position: absolute;
    top: 0;
    margin-top: 772px;
    left: 50%;
    width: 960px;
    transform: translate(-50%, 0);
    z-index: -4;
    border-top: 0.5px solid lightgrey;
}

.bio {
    position: relative;
    max-height: 340px;
    max-width: 100%;
    background-color: #2eb398;
    padding: 66px 121px;
}

.bio_info {
    position: relative;
    height: 209px;
}

.bio_info:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    transform: translate(0, -50%);
    display: inline-block;
    border-right: 1px solid #219d84;
    height: 315px;
}

.bio_info:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    transform: translate(0, -50%);
    display: inline-block;
    border-left: 1px solid #219d84;
    height: 90%;
}

.bio_info_photo {
    display: block;
    position: absolute;
    width: 180px;
    height: 208px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('images/man.jpg');
    background-position-y: 1px;
    background-position-x: -121px;

}

.bio_info_about {
    position: relative;
    display: block;
    margin-left: 198px;
    max-width: 700px;
}

.bio_info_about_name {
    position: relative;
    /* left: -3px; */
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: lighter;
    color: white;
    line-height: 24px;
    letter-spacing: -0.3px;
}

.bio_info_about_position {
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
    color: #20816d;
    position: relative;
    margin-top: 15px;
    letter-spacing: -0.25px;
}

.bio_info_about_myself {
    position: relative;
    max-width: 580px;
    line-height: 22px;
    padding-top: 21.5px;
    color: white;
    font-weight: regular;
    font-family: 'Lato';
    font-size: 12px;
    text-align: justify;
    letter-spacing: -0.05px;
}

.bio_info_about_social {
    position: absolute;
    bottom: -40px;
    right: 0;
}

.bio_info_about_social ul {
    margin: 0;
    padding: 0
}

.bio_info_about_social ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #03ac95;
    cursor: pointer;
}

.bio_info_about_social a {
    text-decoration: none;
}

.bio_info_about_social ul li i {
    font-size: 12px;
}

.bio_info_about_social ul a:nth-child(1) li {
    background-color: #a5dbd4;
}

.bio_info_about_social ul a:nth-child(2) li {
    background-color: #6dcbbe;

}

.bio_info_about_social ul a:nth-child(3) li {
    background-color: #7ed0c5;
    width: 25px;
}

.bio_info_about_social ul a:nth-child(4) li {
    background-color: #abddd7;
}

.bio_info_about_social ul a:nth-child(5) li {
    width: 25px;
    background-color: #acddd7;
}

.bio_info_about_social ul a:nth-child(6) li {
    background-color: #6dcbbe;
}

.bio_info_about_social ul li:hover {
    color: white;
}

/* FOOTER */

footer {
    max-width: 1020px;
    width: 100%;
    min-height: 565px;
    background: #323232;
    position: relative;
}

.contacts_info {
    display: block;
    padding-top: 62px;
    margin-left: 11.764705882352941176470588235294%;
    font-size: 1.875rem;
    font-family: 'Maven Pro', sans-serif;
    color: #e0e0e0;
}

.contact_subtext {
    display: inline-block;
    padding: 10px 0;
    margin-left: 11.764705882352941176470588235294%;
    font-size: 1.125rem;
    font-family: 'Maven Pro', sans-serif;
    color: #a0a0a0;
    max-width: 56.862745098039215686274509803922%;
}

footer .form {
    display: inline-block;
    margin-left: 11.764705882352941176470588235294%;
    width: 100%;
    max-width: 580px;
    box-sizing: border-box;
}

footer .form form input {
    font-family: 'Lato', sans-serif;
    border: 0px solid #000;
    height: 36px;
    max-width: 580px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: #454545;
    color: #969696;
    font-size: 0.75rem;
    padding-left: 15px;
    letter-spacing: -0.35px;
}

footer .form form textarea {
    font-family: 'Lato', sans-serif;
    border: 0px solid #000;
    height: 135px;
    width: 100%;
    max-width: 580px;
    box-sizing: border-box;
    margin-bottom: 14px;
    font-size: 0.75rem;
    color: #969696;
    padding-left: 15px;
    padding-top: 12px;
    background-color: #454545;
    resize: none;
    letter-spacing: -0.35px;
}

footer .form form button {
    float: right;
    height: 37px;
    width: 90px;
    padding: 0;
    margin: 0;
    font-size: 11px;
    background-color: #454545;
    color: #aeaeae;
    border: 0px solid #000;
    text-transform: uppercase;
}

footer .form form button:hover {
    color: white;
    cursor: pointer;
    background-color: #2eb398;
}

.about-us {
    float: right;
    margin-right: 11.274509803921568627450980392157%;
    width: 185px;
    color: #bebebe;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 16pt;
    letter-spacing: 0.15px;
}

.about-us span {
    letter-spacing: 0.2px;
    font-weight: bold;
    color: #e0e0e0;
}

.social {
    margin-top: 35px;
}

.social ul li {
    font-size: 0.75rem;
    font-family: 'Maven Pro', sans-serif;
    color: #bebebe;
    font-weight: bold;
    letter-spacing: -0.15px;
}

.social ul li span {
    color: #2eb398;
}

.social ul li i {
    font-size: 0.75rem;
    color: #2eb398;
    width: 20px;
    text-align: left;
}

.social a {
    text-decoration: none;
}

footer::before {
    content: "";
    border-bottom: 1px solid #2e2e2e;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
}

footer::after {
    content: "";
    border-bottom: 1px solid #2e2e2e;
    position: absolute;
    top: 551px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
}

.copyright {
    position: absolute;
    width: 100%;
    height: 43px;
    bottom: -43px;
    background-color: #222222;
}

.copyright p {
    font-size: 12px;
    font-family: 'Maven Pro', sans-serif;
    color: #454545;
    padding: 14px 38px;
    letter-spacing: -0.3px;
}

@media screen and (max-width: 1020px) {

    .hexagons,
    .hexagons_mobile {
        margin-top: 80px;
        padding-bottom: 27px;
    }

    .hexagon {
        width: 130px;
        height: 157px;
    }

    .hexagons>hr {
        display: none;
    }

    .row {
        margin-top: -48px;
    }

    .row:nth-child(odd):before,
    .row:nth-child(odd):after {
        height: 74px;
    }

    .bio {

        padding: 66px 20px;
    }

    .bio_info:after {
        right: -10px;
    }

    .bio_info:before {
        left: -10px;
    }

    .bio_info_photo {
        width: 180px;
        height: 208px;
        margin-left: 30px;
    }

    .bio_info_about {
        margin-left: 250px;
    }

    .bio_info_about_myself {
        position: relative;
        max-width: 580px;
        line-height: 22px;
        margin-top: 0px;
        color: white;
        font-weight: regular;
        font-family: 'Lato';
        font-size: 12px;
        text-align: justify;
        letter-spacing: -0.05px;
    }

    footer {
        text-align: center;
    }

    .contacts_info {
        padding: 10px 0;
        margin-left: 0;
    }

    .contact_subtext {
        margin-left: 0;
    }

    footer .form {
        margin: 0;
        width: 90%;
        max-width: none;
    }

    footer .form form input,
    footer .form form textarea {
        max-width: none;
    }

    footer .form form button {
        float: none;
    }

    .about-us {
        float: none;
        display: inline-block;
        margin: 20px 0;
        width: 90%;
    }

    .social ul li,
    .about-us {
        text-align: center;
        float: none;
        font-size: 14px;
    }
}


@media screen and (max-width: 760px) {
    .hexagons {
        display: none;
    }

    .hexagons_mobile {
        display: flex;
    }

    .bio_info_about_myself {
        padding-top: 14px;
    }

}

@media screen and (max-width: 611px) {
    .nav ul li {
        z-index: 1000;
        margin: 0 41px;
    }

    .hexagon {
        width: 100px;
        height: 127px;
        margin: 8px 2px;
    }

    .row {
        margin-top: -55px;
    }

    .row:nth-child(odd):before,
    .row:nth-child(odd):after {
        display: none;
    }

    .bio {
        padding: 66px 20px;
    }

    .bio_info_photo {
        width: 120px;
        height: 248px;
        background-size: 240%;
        background-position: center;
        margin-left: 5px;
        top: -90px;
        left: 0;
    }

    .bio_info_about {
        top: -40px;
        margin-left: 140px;
    }

    .bio_info_about_social {
        position: absolute;
        bottom: -50px;
    }
}

@media screen and (max-width: 611px) {
    .nav ul li {
        z-index: 1000;
        margin: 0 7px;
    }

    .nav ul li:nth-child(2) {
        display: none;
    }

    .hexagon {
        width: 80px;
        height: 107px;
        margin: 8px 2px;
    }

    .bio_info {
        height: 100%;
    }

    .bio_info_about_social {
        position: absolute;
        bottom: 0px;
    }

    .bio_info_photo {
        width: 120px;
        height: 248px;
        background-size: 240%;
        background-position: center;
        margin-left: 5px;
        top: -80px;
        left: 0;
    }

    .bio_info:after,
    .bio_info:before {
        height: 100%;
        top: 45%;
        transform: translate(0, -50%);
    }
}